@{
    ViewData["Title"] = "Subscription";
}

@model OrchardCore.TenantBilling.ViewModels.TenantSubscriptionInfoViewModel

<h1>Subscription</h1>
@if(@Model.HasSubscription)
{
    <div>
        <h4>Your Plan</h4>
        <p></p>
    </div>

    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title">Current Payment Information</h5>
            <p class="card-text">@Model.CurrentPaymentMethod.CreditCardInfo.CardType •••• •••• •••• @Model.CurrentPaymentMethod.CreditCardInfo.Last4Digits</p>
            <p class="card-text">@Model.CurrentPaymentMethod.CreditCardInfo.ExpiryMonth / @Model.CurrentPaymentMethod.CreditCardInfo.ExpiryYear</p>
            <a href="#" class="btn btn-primary">Update Payment Info</a>
        </div>
    </div>

    <div>
        <button>Cancel Subscription</button> 
    </div>
}
else
{
    <p>You currently still have @Model.DaysLeftInFreeSubscription days left as part of your free subscription</p>
    <div>
        <a asp-controller="Admin" asp-action="AddNewPaymentethod">Add New Subscription</a>
    </div>
}

